<!doctype html>
<html lang="en" dir="ltr">
    <%- include('./partials/head.ejs') %>
    <body data-theme="<%= theme %>">
        <div class="container mainContainer d-flex flex-column justify-content-between">
            <%- include('./partials/nav.ejs') %>
            <div class="row contentContainer">
                <div class="col-md-10 scroll-y h-100 py-2">
                    <% if(drivers) { %>
                        <%- include('./partials/drivers.ejs', drivers) %>
                    <% } else { %>
                        <% if(viewMode === 'icon'){ %>
                            <%- include('./partials/contentIcon.ejs', contents) %>
                        <% } else if(viewMode === 'list') { %>
                            <%- include('./partials/contentList.ejs', contents) %>
                        <% } %>   
                    <% } %> 
                </div>
                <div class="col-md-2">
                    <%- include('./partials/sidebar.ejs') %>
                </div>
            </div>
        </div>
        <%- include('./partials/modals/settingsModal.ejs') %>
        <%- include('./partials/modals/createDirectory.ejs') %>
        <%- include('./partials/modals/removeDirectory.ejs') %>
        <%- include('./partials/modals/renameDirectory.ejs') %>
        <%- include('./partials/modals/renameAllModal.ejs') %>
        <%- include('./partials/script.ejs') %>
    </body>
</html>
